# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Lineales/Ejemplos/Cola/main
No lineales/Grafos/main
No lineales/Grafos/mai
Lineales/Ejemplos/Pila/main
Lineales/Ejemplos/Lista/main
Lineales/Ejemplos/Pila/main
Lineales/Ejemplos/Cola/main
Lineales/Ejemplos/Pila/main
